!!! 5
//if lt IE 7
  !{'<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">'}
//if IE 7
  !{'<html class="no-js lt-ie9 lt-ie8" lang="en">'}
//if IE 8
  !{'<html class="no-js lt-ie9" lang="en">'}
//if gt IE 8
  !{'<html class="no-js" lang="en">'}
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  != SocketStream
  title Buscannabis
  //if lt IE 9
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
body
  a(name='top')
  canvas#c(width='5', height='5')
  .row
    #header.twelve.columns
      ul
        li
          a(href='#top') Play
        li
          a(href='#hall-of-fame') Hall of fame
        li
          a(href='#help-and-credits') Help &amp; credits
        li
          a#newGame.radius.success.button New game
  .row
    #game.twelve.columns
      .row
        #board.eight.columns
        .four.columns.sidebar
          h1#turn-title Game not started
          h2 Game time: 
            span#game-time 00:00
          h2 This turn: 
            span#turn-time 00:00
          h2 Your points: 
            span#player-points 0
          h2 Opponent points: 
            span#oponent-points 0

  .row
    #status-bar.twelve.columns
      strong Game status: 
      span#game-status Not connected
      strong  | Available players: 
      span#available-players 0
      strong  | Games played so far: 
      span#games-played 0
      strong  | Overall Marijuana found: 
      span#marijuana-found 0
!{'</html>'}